{% extends "templates/web.html" %}

{% block page_content %}

<div
    class="container"
    style="
        max-width: 700px;
        margin: 80px auto;
        text-align: center;
    "
>
    <h2>
        Payment Not Completed
    </h2>

    <p>
        Your registration has been saved,
        but the payment was not completed.
    </p>

    <p>
        You can retry the payment without
        submitting another registration.
    </p>

    <div
        style="
            margin-top: 25px;
        "
    >
        <button
            type="button"
            class="btn btn-primary"
            onclick="retryPayment()"
        >
            Retry Payment
        </button>

        <a
            href="/register"
            class="btn btn-default"
        >
            Back to Registration Programs
        </a>
    </div>
</div>


<script>

frappe.ready(() => {
    const params =
        new URLSearchParams(
            window.location.search
        );

    const token =
        params.get("token");

    if (token) {
        sessionStorage.setItem(
            "registration_payment_token",
            token
        );
    }
});


function retryPayment() {
    window.location.href =
        "/registration-payment";
}

</script>

{% endblock %}